{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h4 class="text-left bg-info text-white p-2 mb-2">
    Registrace uživatele/zdravotnického pracovníka
</h4>
<div class="container">
    <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{  form|crispy }}
    <button type="submit" class="btn btn-primary">Zaregistrovat se</button>
        <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
<div class="alert alert-warning mt-2" role="alert">Pokud jste akreditovaný zdravotnický pracovník, požádejte správce systému o udělení příslušných práv.</div>
{% endblock %}