{% extends "base.html" %}
{% block title %}Detail testovaného{% endblock %}

{% block content %}
<div class="container">
<h4 class="text-left bg-info text-white p-2 mb-2"  style="text-transform:uppercase">
    {{ osoba_detail.jmeno }} {{ osoba_detail.prijmeni }} (&#10033; {{ osoba_detail.datum_narozeni|date:"d.m.Y" }})
</h4>
<div class="row">
    <div class="col-md-6">
        <p class="bg-success text-white text-center display-5">Osobní údaje</p>
        <div class="border">
            <table>
            <tr>
                <td><strong>Bydliště: </strong></td><td>{{ osoba_detail.ulice }}, {{ osoba_detail.psc }}&nbsp; {{ osoba_detail.mesto }}</td>
            </tr>
                <tr>
                    <td><strong>Rodné číslo: </strong></td><td>{{ osoba_detail.rodne_cislo }}</td>
                </tr>
                <tr>
                    <td><strong>Číslo občanského průkazu: </strong></td><td>{{ osoba_detail.cislo_op }}</td>
                </tr>
                <tr>
                    <td><strong>Telefonní číslo: </strong></td><td>+420{{ osoba_detail.tel_cislo }}</td>
                </tr>
                <tr>
                    {% if osoba_detail.email %}
                    <td><strong>Email: </strong></td><td>{{ osoba_detail.email }}</td>
                    {% else %}
                    <td><strong>Email: </strong></td><td><div class="alert alert-danger" role="alert">Pacient nezadal email. </div></td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
 <p class="bg-success text-white text-center display-5">Informace o zdravotním pojištění a samotném testování</p>
        <div class="border">
            <table>
                {% for pojistenec in pojistenci %}
            <tr>
                {% if pojistenec.osoba.cislo_op == osoba_detail.cislo_op %}
                <td><strong>Zdravotní pojišťovna: </strong></td><td>{{ pojistenec.zp.pojistovna }}</td>
            </tr>
                <tr>
                    <td><strong>Číslo pojištěnce: </strong></td><td>{{ pojistenec.cislo_pojistence }}</td>
                </tr>
                {% endif %}
                        {% endfor %}
            </table>
            <hr>
            <table>
                {% for test in testy %}
            <tr>
                {% if osoba_detail.cislo_op == test.osoba.cislo_op %}
                <td><strong>Testován (kdy): </strong></td><td>{{ test.navsteva }}</td>
            </tr>
                <tr>
                <td><strong>Testován (kde):</strong><td>{{test.misto.mesto}}</td></td>
            </tr>
                <tr>
                    <td><strong>Laboratoř: </strong></td><td>{{ test.laborator.nazev }}
                    {% if test.vyhodnoceni == 'pozitivní' %}
                    <span class="badge badge-danger text-white">POZITIVNÍ</span>
                    {% else %}
                    <span class="badge badge-success text-white">NEGATIVNÍ</span>
                    {% endif %}
                </td>
                </tr>
                <tr>
                    <td><strong><abbr title="poznámku může vydat i jiná kvalifikovaná osoba, než je lékař">Poznámka k testu: </abbr></strong></td>
                     {% if test.poznamka %}
                    <td><em>{{test.poznamka}}</em></td>
                    {% else %}

                    {# Když lékař/sestra nezadá poznámku k odběru, zabrazí se tři křížky. #}
                    <td>&#10005; &#10005; &#10005;</td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

</div>
    {% if user.is_authenticated %}
    {% if perms.covidtest.delete_osoba and perms.covidtest.change_test and perms.covidtest.change_osoba and perms.covidtest.change_test %}
<h4 class="text-left bg-danger text-white p-2 mb-2 mt-2"  style="text-transform:uppercase">
    Administrační sekce
</h4>
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'update-osoba' osoba_detail.pk%}" class="btn btn-warning btn-sm">Aktualizovat osobní údaje</a>
        </div>
        <div class="col-md-4 text-center">
            {% for pojistenec in pojistenci %}
            {% if pojistenec.osoba.cislo_op == osoba_detail.cislo_op %}
            <a href="{% url 'update-pojistenec' pojistenec.pk%}" class="btn btn-warning btn-sm">Aktualizovat údaje o zdravotním pojištění</a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 text-right">
            {% for test in testy %}
            {% if test.osoba.cislo_op == osoba_detail.cislo_op %}
            <a href="{% url 'update-test' test.pk%}" class="btn btn-warning btn-sm">Aktualizovat údaje o testování</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-1">
            <a href="{% url 'delete-osoba' osoba_detail.pk %}" class="btn btn-danger btn-sm">Smazat údaje o pacientovi</a>
        </div>
    </div>

</div>
{% endif %}
{% endif %}
{% endblock %}