{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h4 class="text-left bg-info text-white p-2 mb-2">
    Přidání nové osoby/pacienta
</h4>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Uložit</button>
    </form>
</div>
<a href="{% url 'pojistenec-create' %}" style="text-decoration: none;">
<h5 class="text-right bg-info text-white p-2 mb-2 mt-2">
    Další krok: zadání údajů o pojištěnci  <i class="fa fa-forward"></i>
</h5>
</a>
{% endblock %}