<nav class="navbar navbar-expand-sm navbar-light bg-info border-top border-light navbar-light mb-4 nvbr">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                 <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'index' %}">Úvod</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="dropdownIdd" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Testovaní </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'seznam_testu' %}">Seznam testovaných</a>
                        {% if user.is_authenticated %}
                        {% if perms.covidtest.add_osoba %}
                        <a class="dropdown-item" href="{% url 'osoba-create' %}">Nová osoba</a>
                        {% endif %}
                        {% if perms.covidtest.add_pojistovna %}
                        <a class="dropdown-item" href="{% url 'pojistovna-create' %}">Nová pojišťovna</a>
                        {% endif %}
                        {% if perms.covidtest.add_misto %}
                        <a class="dropdown-item" href="{% url 'misto-create' %}">Nové odběrové místo</a>
                        {% endif %}
                        {% if perms.covidtest.add_laborator %}
                        <a class="dropdown-item" href="{% url 'laborator-create' %}">Nová laboratoř</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'hledane-polozky' %}">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" placeholder="Vyhledat pacienta ..." name="searched">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Hledej</button>
            </form>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="button ml-1 btn btn-outline-dark my-2 my-sm-0">Odhlásit: {{ user.get_username }}</a>
            {% else %}
            <button type="button" class=" ml-1 btn btn-outline-dark my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal">
                 Vstup
            </button>
            {% endif %}
            {% include "page/komponenty/modal.html" %}
        </div>
    </nav>